version: "3.8"

services:
  sql-account:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: bankmore-sql-account
    ports:
      - "${SQL_ACCOUNT_PORT:-14331}:1433"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "${SQL_ACCOUNT_SA_PASSWORD}"
      SQL_ACCOUNT_SA_PASSWORD: "${SQL_ACCOUNT_SA_PASSWORD}"
      SQL_ACCOUNT_APP_PASSWORD: "${SQL_ACCOUNT_APP_PASSWORD}"
    volumes:
      - sql_account_data:/var/opt/mssql
      - ../sqlserver/account:/init
    command: ["/bin/bash", "/init/initdatabaseaccount.sh"]
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P \"$$MSSQL_SA_PASSWORD\" -C -Q \"SELECT 1\" >/dev/null 2>&1 || exit 1"
        ]
      interval: 5s
      timeout: 5s
      retries: 60
      start_period: 40s
    restart: unless-stopped
    
  sql-transfer:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: bankmore-sql-transfer
    ports:
      - "${SQL_TRANSFER_PORT:-14332}:1433"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "${SQL_TRANSFER_SA_PASSWORD}"
      SQL_TRANSFER_SA_PASSWORD: "${SQL_TRANSFER_SA_PASSWORD}"
      SQL_TRANSFER_APP_PASSWORD: "${SQL_TRANSFER_APP_PASSWORD}"
    volumes:
      - sql_transfer_data:/var/opt/mssql
      - ../sqlserver/transfer:/init
    command: ["/bin/bash", "/init/initdatabasetransfer.sh"]
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P \"$$MSSQL_SA_PASSWORD\" -C -Q \"SELECT 1\" >/dev/null 2>&1 || exit 1"
        ]
      interval: 5s
      timeout: 5s
      retries: 60
      start_period: 40s
    restart: unless-stopped
    
  redis:
    image: redis:alpine
    container_name: bankmore-redis
    ports:
      - "${REDIS_PORT:-6379}:6379"
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  # Account.Api
  account-api:
    build:
      context: ../..
      dockerfile: Infra/dockerfiles/account.api.Dockerfile
    container_name: bankmore-account-api
    depends_on:
      sql-account:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      ASPNETCORE_URLS: "http://+:8080"
      ASPNETCORE_ENVIRONMENT: Development #Apenas para ambiente de desenvolvimento se precisar visualizar o swagger
      ConnectionStrings__Accounts: "Server=sql-account,1433;Database=BankMoreAccounts;User Id=bankmore_user;Password=${SQL_ACCOUNT_APP_PASSWORD};TrustServerCertificate=True;"
      ConnectionStrings__Redis: "redis:6379,password=${REDIS_PASSWORD},ssl=False,abortConnect=False"

    ports:
      - "8081:8080"
    restart: unless-stopped

  # Transfer.Api
  transfer-api:
    build:
      context: ../..
      dockerfile: Infra/dockerfiles/transfer.api.Dockerfile
    container_name: bankmore-transfer-api
    depends_on:
      sql-transfer:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      ASPNETCORE_URLS: "http://+:8080"
      ASPNETCORE_ENVIRONMENT: Development #Apenas para ambiente de desenvolvimento se precisar visualizar o swagger
      ConnectionStrings__Transfers: "Server=sql-transfer,1433;Database=BankMoreTransfers;User Id=bankmore_user;Password=${SQL_TRANSFER_APP_PASSWORD};TrustServerCertificate=True;Encrypt=False;"
      Services__AccountApi__BaseUrl: "http://account-api:8080/api/v1"
    ports:
      - "8082:8080"
    restart: unless-stopped

volumes:
  sql_account_data:
  sql_transfer_data:
  redis_data:
